{% extends "posts/base.html" %}
{% block title %}
: Notifications
{% endblock title %}

{% block link %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/posts//styles.css' %}" />
{% endblock link %}



{% block user_container %}
<h1 style="padding: 5px;">Suggestion to follow</h1>
{% for suggestion in unfollowed_profiles %}

<div class="header">
  <form action="/follow" method="post">
    {% csrf_token %}
    <div class="avatar"></div>
    <a href="/user/{{suggestion.user.username}}" class="username" style="display: contents;">
      @{{suggestion.user.username}}
    </a>
    <div class="date-separator"></div>
    <input type="hidden" hidden value="{{suggestion.user.username}}" name="following" />
    <button type="submit">
      Follow
    </button>
  </form>
</div>
{% endfor %}
{% endblock user_container %}