<html>
  <head>
    <title>Sathi | 500 error page</title>
    <link rel="stylesheet" type="text/css" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles_error.css' %}" />
    <link rel="icon" type="text/css" href="{% static 'styles/images/brand-icon.png' %}" />
  </head>

  <body>
    <div class="message">
      <h1>500</h1>
      <h3>Server Error</h3>
      <h2>It's not you, it's me.</h2>
      <!-- use window.history.back(); to go back -->
      <button>Go Back</button>
    </div>
  </body>
</html>
