<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>
<body>
    <style>
        .container {
            top: 50%;
            padding: 40px;
            background: blue;
            color: aliceblue;
            display: flex;
            justify-content: center;
        }
        .container h1 {
            text-align: center;
        }
    </style>
    <div class="container">
        <h1>404 Not Found</h1><br/>
        <pre>{{message}}</pre>
    </div>
</body>
</html>